In [46]:
import pandas as pd

In [57]:
df = pd.read_json('bozor.json')
df

,code_tovar,tovar,saoto,saoto_name,date_inter,price
0,101,Гуруч,1726,Шаҳар бўйича ўртача,20220921,13746.9907
1,102,Манний ёрмаси,1726,Шаҳар бўйича ўртача,20220921,12007.8505
2,103,Арпа,1726,Шаҳар бўйича ўртача,20220921,4562.5
3,104,Буғдой,1726,Шаҳар бўйича ўртача,20220921,5534.6667
4,105,Жўхори,1726,Шаҳар бўйича ўртача,20220921,5550
...,...,...,...,...,...,...
429,193,Нўхат,1726280,Қорақамиш бозори,20220921,20416.6667
430,194,Мош,1726280,Қорақамиш бозори,20220921,15500
431,195,Шакар,1726280,Қорақамиш бозори,20220921,12500
432,196,Болалар маҳсус озуқаси,1726280,Қорақамиш бозори,20220921,NULL
433,197,Туз,1726280,Қорақамиш бозори,20220921,2742.8571

In [58]:
def split_date(x):
    x = str(x)
    return f"{x[:4]}-{x[4:6]}-{x[6:]}"

In [59]:
df['date'] = df.date_inter.apply(split_date)

In [60]:
df.drop(['code_tovar', 'saoto', 'date_inter'], axis=1, inplace=True)

In [61]:
df.rename(columns={'tovar': 'Maxsulot', 'price':'Narx', 'saoto_name': 'Bozor nomlari', 'date': 'Sana'}, inplace=True)

In [63]:
df = df[['Maxsulot', 'Narx', 'Bozor nomlari', 'Sana']]
df

                   Maxsulot        Narx        Bozor nomlari        Sana
0                     Гуруч  13746.9907  Шаҳар бўйича ўртача  2022-09-21
1             Манний ёрмаси  12007.8505  Шаҳар бўйича ўртача  2022-09-21
2                      Арпа      4562.5  Шаҳар бўйича ўртача  2022-09-21
3                    Буғдой   5534.6667  Шаҳар бўйича ўртача  2022-09-21
4                    Жўхори        5550  Шаҳар бўйича ўртача  2022-09-21
..                      ...         ...                  ...         ...
429                   Нўхат  20416.6667    Қорақамиш  бозори  2022-09-21
430                     Мош       15500    Қорақамиш  бозори  2022-09-21
431                   Шакар       12500    Қорақамиш  бозори  2022-09-21
432  Болалар маҳсус озуқаси        NULL    Қорақамиш  бозори  2022-09-21
433                     Туз   2742.8571    Қорақамиш  бозори  2022-09-21

[434 rows x 4 columns]

In [64]:
df.to_csv("Maxsulotlar.csv")

In [24]:
praducts = df.tovar.unique()
shops = df.saoto_name.unique()
data_dict = {}

In [8]:
for x in praducts:
    data_dict[x] = df[df['tovar'] == x]

In [19]:
data_dict[praducts[0]]

     tovar           saoto_name       price        date
0    Гуруч  Шаҳар бўйича ўртача  13746.9907  2022-09-21
62   Гуруч       Фарҳод  бозори  13555.5556  2022-09-21
124  Гуруч        Қўйлиқ бозори       11700  2022-09-21
186  Гуруч  Наврўз бозори (ТТЗ)       14600  2022-09-21
248  Гуруч      Миробод  бозори       14300  2022-09-21
310  Гуруч     Эски-Жўва бозори       13900  2022-09-21
372  Гуруч    Қорақамиш  бозори       14000  2022-09-21

In [26]:
praducts

array(['Гуруч', 'Манний ёрмаси', 'Арпа', 'Буғдой', 'Жўхори', 'Кепак',
       'Шрот', 'Шулха', 'Комбикорм', 'Олий навли буғдой уни',
       'Олий навли буғдой уни (маҳаллий)',
       'Олий навли буғдой уни (импорт)', 'Биринчи навли буғдой уни',
       'Биринчи навли буғдой уни (маҳаллий)',
       'Биринчи навли буғдой  уни (импорт)',
       'Биринчи навли ундан қолипли нон (1 дона)', 'Жавдар нони',
       'Макарон', 'Мол гўшти', 'Қўй гўшти', 'Парранда гўшти',
       'Қуён гўшти', 'Балиқ', 'Сут, 1 литр', 'Сут ва қатиқ махсулотлари',
       'Ўсимлик ёғи', 'Пахта ёғи, 1 литр', 'Кунгабоқар ёғи, 1 литр',
       'Қаймок', 'Пишлоқ', 'Бринза', 'Творог', 'Сметана',
       'Тухум, 10 донаси', 'Сариёғ', 'Лимон', 'Олма', 'Нок', 'Узум',
       'Тарвуз', 'Қовун', 'Кишмиш', 'Туршак (баргак)', 'Карам',
       'Кўкатлар (кўк пиёз, укроп, петрушка ва бошқалар, тури кўрсатилсин)',
       'Бодринг', 'Помидор', 'Бақлажон', 'Булғор қалампири', 'Қовоқ',
       'Хўраки лавлаги', 'Сабзи', 'Шолғом', 'Пиёз', 'Турп', 'Картошка',
       'Ловия', 'Нўхат', 'Мош', 'Шакар', 'Болалар маҳсус озуқаси', 'Туз'],
      dtype=object)

In [27]:
praduct = {
           'Mevalar': ["Лимон", "Олма", "Нок", "Узум", "Тарвуз", "Қовун", "Кишмиш"],
           'Un maxsulotlari': ["Олий навли буғдой уни", "Олий навли буғдой уни (маҳаллий)", "Олий навли буғдой уни (импорт)", "Биринчи навли буғдой уни", "Биринчи навли буғдой уни (маҳаллий)", "Биринчи навли буғдой  уни (импорт)", "Биринчи навли ундан қолипли нон (1 дона)"],
           "Go'sht maxsulotlari": ["Мол гўшти", "Қўй гўшти", "Парранда гўшти", "Қуён гўшти", "Балиқ"],
           'Sut maxsulotlari': ["Сут, 1 литр", "Сут ва қатиқ махсулотлари", "Қаймок", "Пишлоқ", "Бринза", "Творог", "Сметана"],
           'Tuxum maxsulotlari': ["Тухум, 10 донаси"],
           'Dukkakli maxsulotlari': ["Манний ёрмаси", "Арпа", "Буғдой", "Жўхори", "Нўхат", "Мош"],
           "Yog' maxsulotlari": ["Ўсимлик ёғи", "Пахта ёғи, 1 литр", "Кунгабоқар ёғи, 1 литр", "Сариёғ"],
           'Guruch va makaron maxsulotlari': ["Гуруч", "Макарон"],
           'Yem maxsulotlar': ["Кепак", "Шрот", "Шулха", "Комбикорм"],
           'NoN maxsulotlari': ["Жавдар нони"],
            "Quruq mevalar": ["Туршак (баргак)"],
           "Sabzavotlar": ["Карам", "Кўкатлар (кўк пиёз, укроп, петрушка ва бошқалар, тури кўрсатилсин)", "Бодринг", "Помидор", "Бақлажон", "Булғор қалампири", "Қовоқ", "Хўраки" "лавлаги", "Сабзи", "Шолғом", "Пиёз", "Турп", "Картошка", "Ловия"],
           # "Shakar va tuz": ["Шакар", "Туз"],
           # "Болалар маҳсус озуқаси": ["Болалар маҳсус озуқаси"]
}

In [ ]:
maxsulotlari_turi = {}
for x in praduct:
    maxsulotlari_turi[x] = ["Лимон", "Олма", "Нок", "Узум", "Тарвуз", "Қовун", "Кишмиш"]