In [46]:
import pandas as pd

In [57]:
df = pd.read_json('bozor.json')
df

,code_tovar,tovar,saoto,saoto_name,date_inter,price
0,101,Гуруч,1726,Шаҳар бўйича ўртача,20220921,13746.9907
1,102,Манний ёрмаси,1726,Шаҳар бўйича ўртача,20220921,12007.8505
2,103,Арпа,1726,Шаҳар бўйича ўртача,20220921,4562.5
3,104,Буғдой,1726,Шаҳар бўйича ўртача,20220921,5534.6667
4,105,Жўхори,1726,Шаҳар бўйича ўртача,20220921,5550
...,...,...,...,...,...,...
429,193,Нўхат,1726280,Қорақамиш бозори,20220921,20416.6667
430,194,Мош,1726280,Қорақамиш бозори,20220921,15500
431,195,Шакар,1726280,Қорақамиш бозори,20220921,12500
432,196,Болалар маҳсус озуқаси,1726280,Қорақамиш бозори,20220921,NULL
433,197,Туз,1726280,Қорақамиш бозори,20220921,2742.8571

In [58]:
def split_date(x):
    x = str(x)
    return f"{x[:4]}-{x[4:6]}-{x[6:]}"

In [59]:
df['date'] = df.date_inter.apply(split_date)

In [60]:
df.drop(['code_tovar', 'saoto', 'date_inter'], axis=1, inplace=True)

In [61]:
df.rename(columns={'tovar': 'Maxsulot', 'price':'Narx', 'saoto_name': 'Bozor nomlari', 'date': 'Sana'}, inplace=True)

In [63]:
df = df[['Maxsulot', 'Narx', 'Bozor nomlari', 'Sana']]
df

                   Maxsulot        Narx        Bozor nomlari        Sana
0                     Гуруч  13746.9907  Шаҳар бўйича ўртача  2022-09-21
1             Манний ёрмаси  12007.8505  Шаҳар бўйича ўртача  2022-09-21
2                      Арпа      4562.5  Шаҳар бўйича ўртача  2022-09-21
3                    Буғдой   5534.6667  Шаҳар бўйича ўртача  2022-09-21
4                    Жўхори        5550  Шаҳар бўйича ўртача  2022-09-21
..                      ...         ...                  ...         ...
429                   Нўхат  20416.6667    Қорақамиш  бозори  2022-09-21
430                     Мош       15500    Қорақамиш  бозори  2022-09-21
431                   Шакар       12500    Қорақамиш  бозори  2022-09-21
432  Болалар маҳсус озуқаси        NULL    Қорақамиш  бозори  2022-09-21
433                     Туз   2742.8571    Қорақамиш  бозори  2022-09-21

[434 rows x 4 columns]

In [64]:
# df.to_csv("Maxsulotlar.csv")

In [95]:
bozorlar = df["Bozor nomlari"].unique()
bozor_dict = {}

In [96]:
for x in bozorlar:
    bozor_dict[x] = df[df['Bozor nomlari'] == x]
    bozor_dict[x].to_csv(f'{x}.csv', index=False)

In [93]:
bozor_dict

{'Шаҳар бўйича ўртача':                   Maxsulot        Narx        Bozor nomlari        Sana
 0                    Гуруч  13746.9907  Шаҳар бўйича ўртача  2022-09-21
 1            Манний ёрмаси  12007.8505  Шаҳар бўйича ўртача  2022-09-21
 2                     Арпа      4562.5  Шаҳар бўйича ўртача  2022-09-21
 3                   Буғдой   5534.6667  Шаҳар бўйича ўртача  2022-09-21
 4                   Жўхори        5550  Шаҳар бўйича ўртача  2022-09-21
 ..                     ...         ...                  ...         ...
 57                   Нўхат  21223.4127  Шаҳар бўйича ўртача  2022-09-21
 58                     Мош  15707.9365  Шаҳар бўйича ўртача  2022-09-21
 59                   Шакар  13571.3294  Шаҳар бўйича ўртача  2022-09-21
 60  Болалар маҳсус озуқаси  157758.667  Шаҳар бўйича ўртача  2022-09-21
 61                     Туз   2897.5496  Шаҳар бўйича ўртача  2022-09-21

 [62 rows x 4 columns],
 'Фарҳод  бозори':                    Maxsulot         Narx   Bozor nomlari        Sana
 62                    Гуруч   13555.5556  Фарҳод  бозори  2022-09-21
 63            Манний ёрмаси        10720  Фарҳод  бозори  2022-09-21
 64                     Арпа         NULL  Фарҳод  бозори  2022-09-21
 65                   Буғдой         5830  Фарҳод  бозори  2022-09-21
 66                   Жўхори         6000  Фарҳод  бозори  2022-09-21
 ..                      ...          ...             ...         ...
 119                   Нўхат        20500  Фарҳод  бозори  2022-09-21
 120                     Мош   15857.1429  Фарҳод  бозори  2022-09-21
 121                   Шакар   13714.2857  Фарҳод  бозори  2022-09-21
 122  Болалар маҳсус озуқаси  170385.7143  Фарҳод  бозори  2022-09-21
 123                     Туз       3112.5  Фарҳод  бозори  2022-09-21

 [62 rows x 4 columns],
 'Қўйлиқ бозори':                    Maxsulot    Narx  Bozor nomlari        Sana
 124                   Гуруч   11700  Қўйлиқ бозори  2022-09-21
 125           Манний ёрмаси   12000  Қўйлиқ бозори  2022-09-21
 126                    Арпа    4125  Қўйлиқ бозори  2022-09-21
 127                  Буғдой    5360  Қўйлиқ бозори  2022-09-21
 128                  Жўхори    4700  Қўйлиқ бозори  2022-09-21
 ..                      ...     ...            ...         ...
 181                   Нўхат   17500  Қўйлиқ бозори  2022-09-21
 182                     Мош   15100  Қўйлиқ бозори  2022-09-21
 183                   Шакар   13875  Қўйлиқ бозори  2022-09-21
 184  Болалар маҳсус озуқаси  181000  Қўйлиқ бозори  2022-09-21
 185                     Туз    2650  Қўйлиқ бозори  2022-09-21

 [62 rows x 4 columns],
 'Наврўз бозори (ТТЗ)':                    Maxsulot        Narx        Bozor nomlari        Sana
 186                   Гуруч       14600  Наврўз бозори (ТТЗ)  2022-09-21
 187           Манний ёрмаси  11166.6667  Наврўз бозори (ТТЗ)  2022-09-21
 188                    Арпа        NULL  Наврўз бозори (ТТЗ)  2022-09-21
 189                  Буғдой        5500  Наврўз бозори (ТТЗ)  2022-09-21
 190                  Жўхори        NULL  Наврўз бозори (ТТЗ)  2022-09-21
 ..                      ...         ...                  ...         ...
 243                   Нўхат  25333.3333  Наврўз бозори (ТТЗ)  2022-09-21
 244                     Мош  16071.4286  Наврўз бозори (ТТЗ)  2022-09-21
 245                   Шакар       13200  Наврўз бозори (ТТЗ)  2022-09-21
 246  Болалар маҳсус озуқаси      132500  Наврўз бозори (ТТЗ)  2022-09-21
 247                     Туз   2785.7143  Наврўз бозори (ТТЗ)  2022-09-21

 [62 rows x 4 columns],
 'Миробод  бозори':                    Maxsulot        Narx    Bozor nomlari        Sana
 248                   Гуруч       14300  Миробод  бозори  2022-09-21
 249           Манний ёрмаси  13208.3333  Миробод  бозори  2022-09-21
 250                    Арпа        NULL  Миробод  бозори  2022-09-21
 251                  Буғдой   5916.6667  Миробод  бозори  2022-09-21
 252                  Жўхори        5800  Миробод  бозори  2022-09-21
 ..                      ...         ...              ...         ...
 305                   Нўхат       22000  Миробод  бозори  2022-09-21
 306                     Мош  15666.6667  Миробод  бозори  2022-09-21
 307                   Шакар       12000  Миробод  бозори  2022-09-21
 308  Болалар маҳсус озуқаси    114009.5  Миробод  бозори  2022-09-21
 309                     Туз        2750  Миробод  бозори  2022-09-21

 [62 rows x 4 columns],
 'Эски-Жўва бозори':                    Maxsulot      Narx     Bozor nomlari        Sana
 310                   Гуруч     13900  Эски-Жўва бозори  2022-09-21
 311           Манний ёрмаси      9700  Эски-Жўва бозори  2022-09-21
 312                    Арпа      NULL  Эски-Жўва бозори  2022-09-21
 313                  Буғдой      5490  Эски-Жўва бозори  2022-09-21
 314                  Жўхори      5400  Эски-Жўва бозори  2022-09-21
 ..                      ...       ...               ...         ...
 367                   Нўхат     21200  Эски-Жўва бозори  2022-09-21
 368                     Мош     15500  Эски-Жўва бозори  2022-09-21
 369                   Шакар     13700  Эски-Жўва бозори  2022-09-21
 370  Болалар маҳсус озуқаси  160993.4  Эски-Жўва бозори  2022-09-21
 371                     Туз      2790  Эски-Жўва бозори  2022-09-21

 [62 rows x 4 columns],
 'Қорақамиш  бозори':                    Maxsulot        Narx      Bozor nomlari        Sana
 372                   Гуруч       14000  Қорақамиш  бозори  2022-09-21
 373           Манний ёрмаси       13500  Қорақамиш  бозори  2022-09-21
 374                    Арпа        NULL  Қорақамиш  бозори  2022-09-21
 375                  Буғдой        5500  Қорақамиш  бозори  2022-09-21
 376                  Жўхори        NULL  Қорақамиш  бозори  2022-09-21
 ..                      ...         ...                ...         ...
 429                   Нўхат  20416.6667  Қорақамиш  бозори  2022-09-21
 430                     Мош       15500  Қорақамиш  бозори  2022-09-21
 431                   Шакар       12500  Қорақамиш  бозори  2022-09-21
 432  Болалар маҳсус озуқаси        NULL  Қорақамиш  бозори  2022-09-21
 433                     Туз   2742.8571  Қорақамиш  бозори  2022-09-21

 [62 rows x 4 columns]}

In [82]:
df[df['Bozor nomlari'] == x]

                  Maxsulot        Narx        Bozor nomlari        Sana
0                    Гуруч  13746.9907  Шаҳар бўйича ўртача  2022-09-21
1            Манний ёрмаси  12007.8505  Шаҳар бўйича ўртача  2022-09-21
2                     Арпа      4562.5  Шаҳар бўйича ўртача  2022-09-21
3                   Буғдой   5534.6667  Шаҳар бўйича ўртача  2022-09-21
4                   Жўхори        5550  Шаҳар бўйича ўртача  2022-09-21
..                     ...         ...                  ...         ...
57                   Нўхат  21223.4127  Шаҳар бўйича ўртача  2022-09-21
58                     Мош  15707.9365  Шаҳар бўйича ўртача  2022-09-21
59                   Шакар  13571.3294  Шаҳар бўйича ўртача  2022-09-21
60  Болалар маҳсус озуқаси  157758.667  Шаҳар бўйича ўртача  2022-09-21
61                     Туз   2897.5496  Шаҳар бўйича ўртача  2022-09-21

[62 rows x 4 columns]

In [75]:
bozor_dict[bozorlar[0]]

                  Maxsulot        Narx        Bozor nomlari        Sana
0                    Гуруч  13746.9907  Шаҳар бўйича ўртача  2022-09-21
1            Манний ёрмаси  12007.8505  Шаҳар бўйича ўртача  2022-09-21
2                     Арпа      4562.5  Шаҳар бўйича ўртача  2022-09-21
3                   Буғдой   5534.6667  Шаҳар бўйича ўртача  2022-09-21
4                   Жўхори        5550  Шаҳар бўйича ўртача  2022-09-21
..                     ...         ...                  ...         ...
57                   Нўхат  21223.4127  Шаҳар бўйича ўртача  2022-09-21
58                     Мош  15707.9365  Шаҳар бўйича ўртача  2022-09-21
59                   Шакар  13571.3294  Шаҳар бўйича ўртача  2022-09-21
60  Болалар маҳсус озуқаси  157758.667  Шаҳар бўйича ўртача  2022-09-21
61                     Туз   2897.5496  Шаҳар бўйича ўртача  2022-09-21

[62 rows x 4 columns]

In [24]:
praducts = df.tovar.unique()
shops = df.saoto_name.unique()
data_dict = {}

In [8]:
for x in praducts:
    data_dict[x] = df[df['tovar'] == x]

In [19]:
data_dict[praducts[0]]

     tovar           saoto_name       price        date
0    Гуруч  Шаҳар бўйича ўртача  13746.9907  2022-09-21
62   Гуруч       Фарҳод  бозори  13555.5556  2022-09-21
124  Гуруч        Қўйлиқ бозори       11700  2022-09-21
186  Гуруч  Наврўз бозори (ТТЗ)       14600  2022-09-21
248  Гуруч      Миробод  бозори       14300  2022-09-21
310  Гуруч     Эски-Жўва бозори       13900  2022-09-21
372  Гуруч    Қорақамиш  бозори       14000  2022-09-21

In [26]:
praducts

array(['Гуруч', 'Манний ёрмаси', 'Арпа', 'Буғдой', 'Жўхори', 'Кепак',
       'Шрот', 'Шулха', 'Комбикорм', 'Олий навли буғдой уни',
       'Олий навли буғдой уни (маҳаллий)',
       'Олий навли буғдой уни (импорт)', 'Биринчи навли буғдой уни',
       'Биринчи навли буғдой уни (маҳаллий)',
       'Биринчи навли буғдой  уни (импорт)',
       'Биринчи навли ундан қолипли нон (1 дона)', 'Жавдар нони',
       'Макарон', 'Мол гўшти', 'Қўй гўшти', 'Парранда гўшти',
       'Қуён гўшти', 'Балиқ', 'Сут, 1 литр', 'Сут ва қатиқ махсулотлари',
       'Ўсимлик ёғи', 'Пахта ёғи, 1 литр', 'Кунгабоқар ёғи, 1 литр',
       'Қаймок', 'Пишлоқ', 'Бринза', 'Творог', 'Сметана',
       'Тухум, 10 донаси', 'Сариёғ', 'Лимон', 'Олма', 'Нок', 'Узум',
       'Тарвуз', 'Қовун', 'Кишмиш', 'Туршак (баргак)', 'Карам',
       'Кўкатлар (кўк пиёз, укроп, петрушка ва бошқалар, тури кўрсатилсин)',
       'Бодринг', 'Помидор', 'Бақлажон', 'Булғор қалампири', 'Қовоқ',
       'Хўраки лавлаги', 'Сабзи', 'Шолғом', 'Пиёз', 'Турп', 'Картошка',
       'Ловия', 'Нўхат', 'Мош', 'Шакар', 'Болалар маҳсус озуқаси', 'Туз'],
      dtype=object)

In [27]:
praduct = {
           'Mevalar': ["Лимон", "Олма", "Нок", "Узум", "Тарвуз", "Қовун", "Кишмиш"],
           'Un maxsulotlari': ["Олий навли буғдой уни", "Олий навли буғдой уни (маҳаллий)", "Олий навли буғдой уни (импорт)", "Биринчи навли буғдой уни", "Биринчи навли буғдой уни (маҳаллий)", "Биринчи навли буғдой  уни (импорт)", "Биринчи навли ундан қолипли нон (1 дона)"],
           "Go'sht maxsulotlari": ["Мол гўшти", "Қўй гўшти", "Парранда гўшти", "Қуён гўшти", "Балиқ"],
           'Sut maxsulotlari': ["Сут, 1 литр", "Сут ва қатиқ махсулотлари", "Қаймок", "Пишлоқ", "Бринза", "Творог", "Сметана"],
           'Tuxum maxsulotlari': ["Тухум, 10 донаси"],
           'Dukkakli maxsulotlari': ["Манний ёрмаси", "Арпа", "Буғдой", "Жўхори", "Нўхат", "Мош"],
           "Yog' maxsulotlari": ["Ўсимлик ёғи", "Пахта ёғи, 1 литр", "Кунгабоқар ёғи, 1 литр", "Сариёғ"],
           'Guruch va makaron maxsulotlari': ["Гуруч", "Макарон"],
           'Yem maxsulotlar': ["Кепак", "Шрот", "Шулха", "Комбикорм"],
           'NoN maxsulotlari': ["Жавдар нони"],
            "Quruq mevalar": ["Туршак (баргак)"],
           "Sabzavotlar": ["Карам", "Кўкатлар (кўк пиёз, укроп, петрушка ва бошқалар, тури кўрсатилсин)", "Бодринг", "Помидор", "Бақлажон", "Булғор қалампири", "Қовоқ", "Хўраки" "лавлаги", "Сабзи", "Шолғом", "Пиёз", "Турп", "Картошка", "Ловия"],
           # "Shakar va tuz": ["Шакар", "Туз"],
           # "Болалар маҳсус озуқаси": ["Болалар маҳсус озуқаси"]
}

In [ ]:
maxsulotlari_turi = {}
for x in praduct:
    maxsulotlari_turi[x] = ["Лимон", "Олма", "Нок", "Узум", "Тарвуз", "Қовун", "Кишмиш"]